# Configurações de e-mail
EMAIL_REMETENTE=jannasantos997@gmail.com
EMAIL_SENHA=eoug xodk clhv owxf
EMAIL_DESTINATARIO=jannasantos9977@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587


# LEITURA DE E-MAIL
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=jannasantos997@gmail.com
IMAP_PASSWORD=eoug xodk clhv owxf
IMAP_FILTRO_ASSUNTO=Cadastro Portal Fake

# ENVIO DE E-MAIL
EMAIL_REMETENTE=jannasantos997@gmail.com
EMAIL_SENHA=eoug xodk clhv owxf
EMAIL_DESTINATARIO=jannasantos9977@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587